<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>83480189843-lma3qiev3urkbibgvuj2rmnvl868gu8c.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.83480189843-lma3qiev3urkbibgvuj2rmnvl868gu8c</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>83480189843-eofee10fut6st5f590etrnj5r6ns5l1c.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBu00IshqGmg8uNcjSPtNb-bPyKsVYZ2Ts</string>
	<key>GCM_SENDER_ID</key>
	<string>83480189843</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.northwest.alaskacommercial.dev</string>
	<key>PROJECT_ID</key>
	<string>alaska-commercial-shopping-app</string>
	<key>STORAGE_BUCKET</key>
	<string>alaska-commercial-shopping-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:83480189843:ios:29f568deaf5593213ea666</string>
</dict>
</plist>